/* @author Gilles Coomans <gilles.coomans@gmail.com> */
 body {
    background-color: #414647;
    overflow: hidden;
    padding: 5px;
    margin:0px;
    /*background-image:url('/img/wall10.png');
    background-repeat: repeat;*/
/*    background-repeat: no-repeat;
     background-size: 100% 700px;*/
    /*margin-left: 5px;*/
/*    background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4641), to(#3f3b36));
    background-image: -webkit-linear-gradient(top, #4b4641, #3f3b36);
    background-image: -moz-linear-gradient(top, #2E3233, #414647);
    background-image: -o-linear-gradient(top, #4b4641, #3f3b36);
    background-image: linear-gradient(top bottom, #4b4641, #3f3b36);*/
 }
 .hidden {
    visibility: hidden;
 }
 #header {
    padding:0px;
    background-color: #3f3b36;
    text-align: center;
    font-family:'Trykker', serif;
    height:15px;
    white-space:nowrap;
}
.circle { 
   width: 120px;
   height: 120px;
   -moz-border-radius: 60px; 
   -webkit-border-radius: 60px; 
   border-radius: 60px;
   float:right;
   position: absolute;
   top:-30px;
   background-color: #3f3b36;
   text-align: center;
   right: 8px;
    border: 3px solid #555;

}
.logo {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-size: 40px;
    position:relative;
    top:5px;
    right:15px;
    margin: auto;
    padding: auto;
    padding-top: 0px;
    line-height:33px;
}
#reports-container {
    display: none;
    margin-left:60px;
    margin-right:60px;
    padding:30px;
}
#reports-container pre {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/*_________________ MENU _________________ */
#menu {
    margin-bottom:0px;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}
.menu {
    line-height: 17px;
    margin: auto;
    padding:10px 0px 10px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 0 6px #1c1c1c;
    -moz-box-shadow: 0 0 6px #1c1c1c;
    box-shadow: 0 0 6px #1c1c1c;
}

.menu .title {
    font-family:'Lobster', cursive;
    display: inline;
    font-size: 16px;
    color: #908d87;
    margin-right:4px;
    margin-left:8px;
    position:relative;
    top:-1px;
}
.menu .title a {
    padding:0px;
}
.menu .bullet-title {
    position:relative;
    top:2px;
    left:0px;
    margin-left:8px;
    padding: 0px;
    margin-right: 0px;
}
.title-label {
    margin-left:5px;
    margin-right:4px;
}
.menu ul {
    padding: 0;
    display: inline;
}

.menu li {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family:'Droid Sans', sans-serif;*/
    font-family:'Trykker', serif;
    /*font-family: 'Arvo', serif;*/
    /*font-family: 'Convergence', sans-serif;*/
    font-size: 12px;
    list-style-type: none;
    display: inline-block;
    margin-right: 3px;
    position:relative;
    top:-2px;
}

.menu li.active a {
    /*text-decoration: underline;*/
    background-color: #24abca;
    -moz-border-radius: 3px;
    border-radius: 4px;
    color: #fff;
}
.menu li:before {
    content:"•";
    color: #14a2c6;
    font-size: 8px;
    margin-right: 3px;
}

.menu .separated:before {
    content:"|";
    color: #14a2c6;
    font-size: 11px;
    margin-right: 3px;
}
.menu li:first-child:before {
    content:'';
    margin-right:0;
}
.menu a {
    color: #fff;
    text-decoration: none;
    padding: 3px 7px;
}
.menu a:hover {
    color: #fff;
    background-color: #bbc755;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#menu1 {
    background-color: #4b4641;
    margin-left: 10px;
    margin-right: 10px;
    color: #999999;
}
#menu2 {
    background-color: #544D47;
    margin-left: 15px;
    margin-right: 15px;
    margin-top:0;
    position: relative;
    top:-4px;
}
#menu2 {
    display: none;
}
#menu2 .bullet-title {
    position:relative;
    top:0;
}
#menu2 li.active a {
    /*text-decoration: underline;*/
    background-color: #24abca;
    color:#fff;
}
/*_____________________________________________ SUBMENU ____________________ */
 #submenu {
    font-family:'Trykker', serif;
    font-size: 12px;
    width: 200px;
    margin-left:5px;
    -webkit-font-smoothing: subpixel-antialiased;
    position: relative;
    float:left;
}
.submenu-block {
    margin-bottom:20px;
    background-color: #4b4641;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 0 6px #222;
    -moz-box-shadow: 0 0 6px #222;
    box-shadow: 0 0 6px #222;
    padding:20px;
}
#submenu ul {
    list-style: none;
    padding:0;
    margin:0;
}
#submenu li ul {
    padding-left: 20px;
    padding-top: 8px;
    display: none;
}
#submenu li.active ul{
    display: block;
}
#submenu li {
    width:100%;
    margin-bottom:10px;
}
#submenu li:before {
    content:">";
    color: #14a2c6;
    font-size: 10px;
    margin-right:5px;
}
h2 {
    font-family:'Lobster', cursive;
    margin-bottom:10px;
    margin-top:20px;
    color: #eee;
}

h3 {

}

h4 {
    margin-top:40px;
}
.content ul {
    list-style: none;
    padding-left: 20px;
}

.content li:before {
    content:"-";
    color: #14a2c6;
    font-size: 8px;
    margin-right: 10px;
}

h4:before {
    content:">>";
    color: #14a2c6;
    font-size: 10px;
    margin-right: 15px;
    position: relative;
    top: -3px;
}
#submenu a {
    color:#eee;
    text-decoration: none;
    width:100%;
    padding:4px 10px;
}
#submenu a:hover {
    /*color:#14a2c6;*/
    color: #fff;
    background-color: #bbc755;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#submenu li.active > a {
    color: #333;
    background-color: #64CCE6;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#submenu li.active li.active   a {
    color: #333;
    background-color: #bfe9f7;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/*_____________________________________ structure _____________________________*/
 #main {
    color: #ddd;
    margin-left:20px;
    margin-right:20px;
    font-size: 12px;
    font-family:'Trykker', serif;
    margin-bottom: 0px;
    overflow: hidden;
}
.content {
    padding-left:30px;
    padding-right:15px;
    padding-top:7px;
    margin-bottom:30px;
}
.content.full {
    padding-left:15px;
}
#footer {
    padding-left:0px;
    padding-right:0px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-left:10px;
    margin-right:10px;
    margin-top: 3px;
    border-top: 1px solid #555;
    background-color: #45413D;
    
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4641), to(#3f3b36));
    background-image: -webkit-linear-gradient(top, #4b4641, #3f3b36);
    background-image: -moz-linear-gradient(top, #4b4641, #3f3b36);
    background-image: -o-linear-gradient(top, #4b4641, #3f3b36);
    background-image: linear-gradient(top bottom, #4b4641, #3f3b36);
    clear: both;
    width: auto;
    height: auto;
    margin-bottom: 10px;
    text-align: left;
    
    -webkit-box-shadow: 0 -2px 2px #333;
    -moz-box-shadow: 0 -2px 2px #333;
    box-shadow: 0 -2px 2px #333;
    

    min-height: 55px;
}
#footer .tools-bar {
    display: inline-block;
    margin: auto;
    position: relative;
    top: 15px;
}
#copyright {
    display: inline-block;
    margin-top: 8px;
    margin-left:105px;
    color: #7d736c;
}
#copyright a {
    color: #29b7e4;
    font-weight: bold;
}
#footer .tools-bar img {
    position: relative;
    top: -3px;
}
/*_________________________________________ MISC ________________________*/
 .run-core-units-verbose {
    color: #21ba03;
    cursor: pointer;
    cursor: hand;
}
button {
    color: #222;
}
.deepjs-version-label, .beta-warning-label {
    visibility: visible;
    background-color: #211f1c;
    position: relative;
    font-size: 12px;

    top:-6px;
    padding-left: 10px;
    padding-right: 10px;
}
.beta-warning-label {
    background-color: #b3b70b;
    font-size: 12px;
    color: #deedd0;
    -moz-border-radius: 5px;
    border-radius: 5px;
    text-align: center;
}
.baseline {
    font-size: 14px;
    font-family:'Trykker', serif;
    color: #aaa;
}
.baseline em {
    color:#fff;
}

#main {
    height:100px;
}
#content{
    overflow: scroll;
    height: 100%;
}
/* The default background color is #c00 */
 .github-fork-ribbon-wrapper {
    z-index: 11010;
}
.github-fork-ribbon {
    z-index: 11010;
}
.right-bottom .github-fork-ribbon {
    background-color: #99d207;
    z-index: 11010;
}
.right .github-fork-ribbon {
    background-color: #f80;
    z-index: 11010;
}
.left-bottom .github-fork-ribbon {
    background-color: #b3b70b;
    z-index: 11010;
}

#fullwrapper {
    /*position: absolute;*/
    /*max-height: 768px;*/
    max-width: 1014px;
    margin:auto;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: #3f3b36;
    /*margin-top:10px;*/
    height: 100%;
    padding-top: 5px;
    border: 1px solid #35312E;
    margin-bottom: 1px;
    /*-webkit-box-shadow: 0 0 6px #1c1c1c;
    -moz-box-shadow: 0 0 6px #1c1c1c;
    box-shadow: 0 0 6px #1c1c1c;*/
}
#fullwrapper .github-fork-ribbon-wrapper.left-bottom {
    position: relative;
    top: -150px;
    bottom: 0px;
    left: 0px;
    float: left;
}
