/* @author Gilles Coomans <gilles.coomans@gmail.com> */
 #header {
    padding:0px 50px 0 50px;
    background-color: #3f3b36;
    text-align: center;
}
.logo {
    /*font-family: 'Titillium Web', sans-serif;*/
    font-size: 32px;
    position:relative;
    top:-10px;
    margin: auto;
    padding: auto;
}
#reports-container {
    display: none;
    margin-left:60px;
    margin-right:60px;
    padding:30px;
}
#reports-container pre {
    box-shadow: 0 1px 1px 1px rgba(0, 0, 0, 0.1);
}
/*_________________ MENU _________________ */
 #menu {
    margin-bottom:0px;
    font-weight: normal;
    -webkit-font-smoothing: subpixel-antialiased;
}
#menu1 {
    background-color: #4b4641;
    line-height: 20px;
    margin: auto;
    margin-left: 30px;
    margin-right: 30px;
    padding:10px 10px 10px;
    color: #999999;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 0 6px #1c1c1c;
    -moz-box-shadow: 0 0 6px #1c1c1c;
    box-shadow: 0 0 6px #1c1c1c;
}
#menu2 {
    background-color: #544D47;
    line-height: 15px;
    margin: auto;
    padding:10px 10px 10px;
    margin-left: 35px;
    margin-right: 35px;
    margin-top:0;
    color: #999999;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 0 6px #1c1c1c;
    -moz-box-shadow: 0 0 6px #1c1c1c;
    box-shadow: 0 0 6px #1c1c1c;
    position: relative;
    top:-4px;
}

#menu .title {
    font-family:'Lobster', cursive;
    display: inline;
    font-size: 16px;
    color: #908d87;
    margin-right:10px;
    position:relative;
    top:-1px;
}
#menu .bullet-title {
    position:relative;
    top:2px;
    left:0;
    margin-left:10px;
}
#menu ul {
    padding: 0;
    display: inline;
}
#menu li {
    /*font-family: 'Titillium Web', sans-serif;*/
    /*font-family:'Droid Sans', sans-serif;*/
    font-family: 'Trykker', serif;
    /*font-family: 'Arvo', serif;*/
    /*font-family: 'Convergence', sans-serif;*/
    font-size: 12px;
    list-style-type: none;
    display: inline-block;
    margin-right: 5px;
    position:relative;
    top:-2px;
}

#menu li.active a:hover {
    color: #ddd;
}
#menu li.active a {
    /*text-decoration: underline;*/
    background-color: #167c9f;
    -moz-border-radius: 3px;
    border-radius: 3px;
    color: #fff;
}
#menu li:before {
    content:"|";
    color: #14a2c6;
    font-size: 8px;
    margin-right: 5px;
}
#menu li:first-child:before {
    content:'';
    margin-right:0;
}
#menu a {
    color: #fff;
    text-decoration: none;
    padding: 3px 7px;
}
#menu a:hover {
    color: #29b7e4;
}
#menu2 {
    display: none;
}
#menu2 .bullet-title {
    position:relative;
    top:0;
}
#menu2 li.active a {
    /*text-decoration: underline;*/
    background-color: #6096AE;
}
/*_____________________________________________ SUBMENU ____________________ */
 #submenu {
    font-family: 'Trykker', serif;
    font-size: 12px;
    width: 220px;
    float:left;
    left: 0;
    z-index: 10003;
    margin-left:35px;
    -webkit-font-smoothing: subpixel-antialiased;
    position: fixed;

}

.submenu-block {
    margin-bottom:20px;
    background-color: #4b4641;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-top: 1px solid #555;
    -webkit-box-shadow: 0 0 6px #222;
    -moz-box-shadow: 0 0 6px #222;
    box-shadow: 0 0 6px #222;
    padding:20px;
}
#submenu ul {
    list-style: none;
    padding:0;
    margin:0;
}
#submenu li {
    width:100%;
    margin-bottom:10px;
}
#submenu li:before {
    content:"> ";
    color: #14a2c6;
    font-size: 10px;
    margin-right:0px;
}
h2 {
    font-family:'Lobster', cursive;
    margin-bottom:10px;
    margin-top:20px;
    color: #eee;
}
#submenu a {
    color:#eee;
    text-decoration: none;
    width:100%;
    padding:4px 10px;
}
#submenu a.active {
    color: #fff;
    background-color: #70ADC8;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
#submenu a:hover {
    /*color:#14a2c6;*/
    color: #29b7e4;
}
#submenu a:hover.active {
    /*color:#14a2c6;*/
    color: #ddd;
}
/*_____________________________________ structure _____________________________*/
 #main {
    color: #ddd;
    margin-left:30px;
    margin-right:30px;
    font-size: 12px;
}
.content {
    padding-left:260px;
    padding-right:15px;
    padding-top:7px;
    margin-bottom:30px;
}
.content.full {
    padding-left:15px;
}
#footer {
    padding-left:20px;
    padding-right:20px;
    padding-top: 10px;
    margin-left:30px;
    margin-right:30px;
    height:40px;
    border-top: 1px solid #555;
    background-color: #45413D;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#4b4641), to(#3f3b36));
    background-image: -webkit-linear-gradient(top, #4b4641, #3f3b36);
    background-image: -moz-linear-gradient(top, #4b4641, #3f3b36);
    background-image: -o-linear-gradient(top, #4b4641, #3f3b36);
    background-image: linear-gradient(top bottom, #4b4641, #3f3b36);
    clear: both;
    -moz-background-clip: padding;
    /* Firefox 3.6 */
    -webkit-background-clip: padding;
    /* Safari 4? Chrome 6? */
    background-clip: padding-box;
    /* Firefox 4, Safari 5, Opera 10, IE 9 */
    width: auto;
    height: auto;
    margin-bottom: 5px;
    text-align: left;
}
#footer .tools-bar {
    display: inline-block;
    margin: :auto;
    position: relative;
    top: 8px;
}
#copyright {
    display: inline-block;
    margin-top: 0px;
    text-align: left;
    margin-left:70px;
}
#footer .tools-bar img {
    position: relative;
    top: -4px;
}

/*_________________________________________ MISC ________________________*/
 .run-core-units-verbose {
    color: #21ba03;
    cursor: pointer;
    cursor: hand;
}
button {
    color: #222;
}
.deepjs-version-label {
   position: relative;
   top:0px;
   padding-left: 10px;
   padding-right: 10px;
}

.baseline {
    font-size: 14px;
    font-family:'Trykker', serif;
    color: #aaa;
}
.baseline em {
    color:#fff;
}
.title-label {
    margin-left:10px;
}

#main {
    height:100px;
    overflow: scroll;
}
       /* The default background color is #c00 */
       .github-fork-ribbon-wrapper {

        z-index: 11010;
       }
       .github-fork-ribbon {
        z-index: 11010;
       }
        .right-bottom .github-fork-ribbon {
            background-color: #090;
            z-index: 11010;

        }

        .right .github-fork-ribbon {
            background-color: #f80;
            z-index: 11010;

        }

        .left-bottom .github-fork-ribbon {
            background-color: #f80;
            z-index: 11010;
        }

